### Check if a number is Prime

In [12]:
import math

n = 17

for i in range(2, int(math.sqrt(n)) + 1):
    if n % i == 0:
        print(False)
        break
else:
    print(True)

True

### Print all Fibonacci numbers till `n`

In [14]:
n = 6

pp = 0
p = 1

for i in range(n):
    print(pp)
    c = pp + p
    pp = p
    p = c

0
1
1
2
3
5

### Count digits in a number

In [16]:
n = 98743

count = 0

while n > 0:
    n = n // 10
    count += 1
    
print(count)

5

### Print digits of a number

In [32]:
n = 75400

tmp = n
count = 0

while tmp > 0:
    tmp = tmp // 10
    count += 1
    
d = 10**(count - 1)
while d > 0:
    q = n // d
    print(q)
    r = n % d
    d = d // 10
    n = r

7
5
4
0
0

### Print reverse of a number

In [33]:
n = 754

while n > 0:
    r = n % 10
    print(r)
    n = n // 10

4
5
7

### Inverse of a number

In [39]:
n = 21453

oIdx = 1
inv = 0

while n > 0:
    oDig = n % 10
    iDig = oIdx
    iIdx = oDig
    
    inv += iDig * 10**(iIdx - 1)
    
    n = n // 10
    oIdx += 1
    
print(inv)

23154

### Rotate a number

In [50]:
n = 35618
k = -1

tmp = n
count = 0
while tmp > 0:
    tmp = tmp // 10
    count += 1
    
if k < 0:
    k = k + count
k = k % count
    
r = n % 10**k
q = n // 10**k

output = r * 10**(count - k) + q
output

56183

### GCD and LCM of 2 numbers

In [53]:
x = 36
y = 24

xx = x
yy = y

while x % y > 0:
    r = x % y
    y = x
    x = r

gcd = x
lcm = xx * yy / gcd
print(f"GCD: {gcd}, LCM: {lcm}")

GCD: 12, LCM: 72.0

### Prime factors of a number

In [81]:
n = 1440
n = 46

output = []
limit = int(math.sqrt(n))
for d in range(2, limit):
    while n % d == 0:
        n = n // d
        output.append(d)

if n != 1:
    output.append(n)
output

[2, 23]

### Pythagorean Triplets

In [69]:
x = 5
y = 3
z = 4

h = max(x, y)
h = max(h, z)
if h == x:
    print(x*x == y*y + z*z)
elif h == y:
    print(y*y == x*x + z*z)
else:
    print(z*z == y*y + x*x)

True

### `n` light bulbs switched on/off by `n` persons passing by

In [76]:
n = 30

bulbs = []
limit = int(math.sqrt(n))
for i in range(1, limit + 1):
    bulbs.append(i*i)
    
bulbs

[1, 4, 9, 16, 25]

### Digit Frequency

In [82]:
def frequency(n, d):
    count = 0
    while n > 0:
        r = n % 10
        if r == d:
            count += 1
        n = n // 10
    return count

n = 99346928
d = 9
print(frequency(n, d))

3

### Decimal to any Base

In [83]:
def toBase(n, b):
    c = 0
    p = 1
    while n > 0:
        d = n % b
        n = n // b
        c += p * d
        p *= 10
    return c

n = 634
b = 8
print('Octal: ', toBase(n, b))

n = 634
b = 2
print('Binary: ', toBase(n, b))

Octal:  1172
Binary:  1001111010

### Any Base to Decimal

In [84]:
def toDecimal(n, b):
    c = 0
    p = 1
    while n > 0:
        d = n % 10
        n = n // 10
        c += d * p
        p *= b
    return c

n = 1172
b = 8
print('Decimal: ', toDecimal(n, b))

Decimal:  634

### Any Base to Any Base

In [85]:
n = 172
b1 = 8
b2 = 2

d = toDecimal(n, b1)
m = toBase(d, b2)
print('Converted: ', m)

Converted:  1111010

### Any Base Addition

In [86]:
def add(x, y, b):
    z = 0
    carry = 0
    power = 1
    while x > 0 or y > 0 or carry:
        xd = x % 10
        yd = y % 10
        x = x // 10
        y = y // 10

        s = xd + yd + carry
        carry = s // b
        d = s % b
        z += d * power
        power *= 10
    return z
    
x = 236
y = 754
b = 8
print(add(x, y, b))

1212

### Any Base Subtraction

In [87]:
def subtract(x, y, b):
    z = 0
    power = 1
    borrow = 0
    while x > 0:
        xd = x % 10
        yd = y % 10
        x = x // 10
        y = y // 10

        d = 0
        xd += borrow

        if xd < yd:
            borrow = - 1
            d = xd + b - yd
        else:
            borrow = 0
            d = xd - yd

        z += d * power
        power *= 10
    return z
    
x = 1212
y = 256
b = 8
print(subtract(x, y, b))

734

### Any Base Multiplication

In [88]:
def multDigit(x, y, b):
    z = 0
    carry = 0
    power = 1
    while x > 0 or carry:
        xd = x % 10
        x = x // 10
        
        m = (xd * y) + carry
        d = m % b
        carry = m // b

        z += d * power
        power *= 10
        
    return z

def product(x, y, b):
    z = 0
    power = 1
    while y > 0:
        yd = y % 10
        y = y // 10
        
        m = multDigit(x, yd, b)
        z = add(z, m * power, b)
        power *= 10
        
    return z

x = 2156
y = 74
b = 8
print(product(x, y, b))

204710